{% extends 'base/base_cliente.html' %}

{% block contenido %} 

{% block javascript %}

<script> 
 
    function confirmar(){
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Mensaje enviado con éxito!!!',
            showConfirmButton: false,
            timer: 1500
          })
    }

</script>

{% endblock javascript %}

<div class="container-fluid" style="margin-top:30px">
    <div class="container-fluid card w-75 bg-primary-subtle">
<h1 class="fs-1 text-center" style="margin-top:30px">Contáctanos!</h1>
<form method="POST" action="" onSubmit="confirmar()">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="botones btn btn-success">Enviar</button>
</form>
</div>
</div>
{% endblock contenido %}