<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style='width:90%; height:auto;display:block;justify-content:center; margin:auto; padding:20px'>
        <h1 style="font-size:2em; text-align:center;width:100%;text-align:center;text-transform: uppercase;">
            {{nombre}}, <br>GRACIAS por tu reserva!
        </h1><br>
        <p>Hola, {{nombre}}!!! <br>Muchas gracias por hacer tu reserva por BYTE FORCE <br>
        A continuación te dejamos los detalles.<br>
        </p>

        <ul style="justify-content:center; align-items:center;">
            <li>Fecha de la reserva: {{fecha_reserva}}</li>
            <li>Datos del Coordinador: {{responsable}}</li>
            <li>Datos del Empleado: {{empleado}}</li>
            <li>Datos del Servicio: {{servicio}}</li>
            <li>Precio del Servico: {{precio}}</li>
        </ul>

        <p>Agradecemos y valoramos tu tiempo y como tenemos muchas ganas de seguir creciendo<br>
            te pedimos unos minutos para que puedas dejar tu opinion sobre este proyecto y <br>
            nuestra presentacion en el siguiente link: <a https://byte-force.com.ar/eventos/nL87kM/> https://byte-force.com.ar/eventos/nL87kM/</a>
        <p style="text-align:right">Atte. El equipo de BYTE FORCE</p>
    
    </div>
</body>
</html>