<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style='width:90%; height:auto;display:block;justify-content:center; margin:auto; padding:20px'>
        <h1 style="font-size:2em; text-align:center;width:100%;text-align:center;text-transform: uppercase;">
            {{nombre}}, <br>GRACIAS POR SU Reserva!!!
        </h1><br>
        <p>Hola, {{nombre}}!!! <br>Muchas gracias por hacer su reserva por BYTE FORCE <br>
        A continuadion le dejamos los datos de su reserva.<br>
        </p>

        <ul style="justify-content:center; align-items:center;">
            <li>Fecha de la reserva: {{fecha_reserva}}</li>
            <li>Datos del Coordinador: {{responsable}}</li>
            <li>Datos del Empleado: {{empleado}}</li>
            <li>Datos del Servicio: {{servicio}}</li>
            <li>Precio del Servico: {{precio}}</li>
        </ul>
        <p>Agradecemos su preferencia, sin otro particular nos despedimos.
        <p style="text-align:right">Atte. El equipo de BYTE FORCE</p>
    
    </div>
</body>
</html>