{% extends 'base/base_cliente.html' %}

    
    {% block errores %}  
    <div class="d-flex justify-content-center align-items-center text-center">
        <h1 class="display-1 fw-bold text-primary">PAGINA NO ENCONTRADA</h1>
      </div>
      
      <div class="d-flex justify-content-center align-items-center">
        <div class="embed-responsive embed-responsive-16by9" style="max-width: 70%;">
          <div class="embed-responsive-item">
            <lottie-player
              autoplay
              loop
              mode="normal"
              src="https://lottie.host/f3e600b6-fff2-46bf-a871-624beff18e66/Brkwinxlaf.json"
            ></lottie-player>
          </div>
        </div>
      </div>
      
      <div class="d-flex justify-content-center align-items-center text-center">
        <h1 class="display-2 fw-bold text-uppercase text-secondary">BYTEFORCE BUSCANDO NUEVOS HORIZONTES</h1>
      </div>
      
      
      
      
      
      
      
      
    {% endblock %}
    
