{% extends 'base/base_cliente.html' %}
{% block contenido %} 

{% if user.is_authenticated %}
<h1>Hola,{{user.nombre}}!!!</h1>
{% endif %}

<div class="container-fluid" style="margin-top:30px">
    <div class="container-fluid card w-75 bg-primary-subtle">
<h1 class="fs-1 text-center" style="margin-top:30px">Cliente</h1>
<form method="POST" action=""  onSubmit="aviso()">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="botones btn btn-success">Guardar</button>
</form>
<a href="{% url 'menu:reservas_user_cliente' %}" class="botones btn btn-danger">Cancelar</a>
</div>
</div>
{% endblock contenido %}