{% extends 'base/base_cliente.html' %}
{% block contenido %}
{% block javascript %}
<script> 
 
    function eliminar(id){
      Swal.fire({
        "title": "Eliminar Reserva?",
        "text": "Una vez eliminado, no es posible recuperar la información!!!",
        "icon": "warning",
        "showCancelButton": true,
        "cancelButtonText": "Cancelar",
        "confirmButtonText": "Eliminar",
        "reverseButtons": true,
        "confirmButtonColor": "#dc3545"
      }).then(function(result){
        if(result.isConfirmed){
          window.location.href = "../menu/eliminar/"+id+"/"
        }
      })
    }

</script>
{% endblock javascript %}


<div class="container d-lg-flex ">

  <div class="container-fluid card border-primary mt-4" style="width:18rem;">
    <img src="{{ user.imagen.url }}" class="card-img-top"/>
    <div class="card-body">
      <h3 class="card-title">{{user.apellido}}, {{user.nombre}}</h3>
      <p class="card-text">{{user.email}}</p>
      <a href="{% url 'menu:modificar_cliente' %}" class="btn btn-danger m-2" >Modificar Datos</a>
    </div>
  </div>
  
  <div class="container-fluid d-block justify-content-center">
    <a href="{% url 'menu:hacer_reserva' %}" class="btn btn-success botones" >Reservar</a>
    <table class="table table-hover text-center">
      <tbody>
        <tr class="table-dark fs-4  fw-semibold" style="opacity:0.7;">
          <td class="">Servicio</td>
          <td class="">Fecha de Reserva</td>
        </tr>
        {% for reserva in reservas %}
          <tr class="align-text-center table-success">
            <td class="fs-6  fw-semibold">{{reserva.servicio}}</td>
            <td class="fs-6  fw-semibold">{{reserva.fecha_reserva}}</td>
          </tr>
          <tr>
            <td class="table-secondary fs-6  fw-semibold">Acciones:</td>
            <td class="container d-flex justify-content-evenly">
              {% if reserva.activo %}
                <a onClick="eliminar({{reserva.id}})" class=" btn btn-danger rounded-start">
                  <i class=" bi bi-clipboard2-x-fill"></i> Cancelar
                </a> 
              {% endif %}
                <a href="{% url 'menu:modificar_reserva_user' reserva.id %}" class=" btn btn-dark" >Modificar Datos</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock contenido %}